In [1]:
import pandas as pd
import numpy as np

In [2]:
import module as md

In [ ]:
pd.DataFrame({})

In [12]:
df = pd.DataFrame({"A": [100, 20, 30, 1, 2, 4, 5], "B":[ "A", "B", "C", "D", "E", "F", "G"]})

In [13]:
df

     A  B
0  100  A
1   20  B
2   30  C
3    1  D
4    2  E
5    4  F
6    5  G

In [14]:
md.show_outlier(df, 'A')

     A  B
0  100  A